  <mat-form-field [formGroup]="form">

    <mat-label>Tags</mat-label>

    <mat-select formControlName="tags" multiple [compareWith]="compareFn">

      <mat-select-trigger>
        <mat-chip-list>

          <mat-chip color="primary" *ngFor="let tag of form.get('tags').value" [removable]="true"
            (removed)="onTagRemoved(tag)">
            {{ tag.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>

        </mat-chip-list>
      </mat-select-trigger>

      <mat-option *ngFor="let tag of tagList" [value]="tag"> {{tag.name}} </mat-option>

    </mat-select>


  </mat-form-field>
