table {
    width: 100%;
  }
  
  .clickable:hover{
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.349);
  }
  
  .clickable{
  background-color: rgba(211, 211, 211, 0.349);
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-column-category{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  
  
  .mat-column-category{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-tag {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 30% !important;
    width: 30% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-options {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: center;
    justify-content: flex-end;
  }
  
  td a + a {
    padding-left: 2em;
  }
  
  ::ng-deep .iconEdit{
  font-size: 3x;
  stroke: red;
    color: blue;
  }
  
  ::ng-deep .iconTrash {
  size: 3x;
   color: red;
  }