<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-primary " aria-label="navbar">
  <div class="container-fluid">

    <div class="col-md-4">
      <a class="navbar-brand" href="#" style="font-weight:bold;">Knowledge</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsKnowledge"
        aria-controls="navbarsKnowledge" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse .col-md-3 .ms-md-auto" id=" navbarsKnowledge" [ngClass]="{ show: isExpanded }">
      <div class="navbar-nav">

        <a class="nav-link" routerLink="search" routerLinkActive="active"> Search </a>

        <a class="nav-link" routerLink="articles" routerLinkActive="active"> Articles </a>

        <a class="nav-link" routerLink="categories" routerLinkActive="active"> Categories </a>

        <a class="nav-link" routerLink="tags" routerLinkActive="active"> Tags </a>

        <a class="nav-link" routerLinkActive="active" href="api" target="_blank">Swagger</a>
      </div>
    </div>

    <div class="navbar-nav .col-md-3 .ms-md-auto ">
      <app-login-menu class="collapse navbar-collapse " [ngClass]="{ show: isExpanded }">
      </app-login-menu>
    </div>

  </div>
</nav>