<ng-container *ngIf="isAuthenticated | async">
    <a class="nav-link" [routerLink]='["/authentication/profile"]' title="Manage"> Hello <span class="text-light"> {{
            userName |
            async }} </span>
    </a>

    <a class="nav-link" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout"> Logout
    </a>

</ng-container>

<ng-container *ngIf="(isAuthenticated | async) !== true">

    <a class="nav-link" [routerLink]='["/authentication/register"]'>Register </a>

    <a class="nav-link" [routerLink]='["/authentication/login"]'>Login </a>

</ng-container>