/*** Column Widths ***/
td {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-name {
  flex: 0 0 86%;
  width: 86%;
}

.mat-column-options {
  width: 14%;
  text-align: center;
  font-weight: bold;
}

// td a+a {
//   padding-left: 2em;
// }